In [22]:
import pandas as pd

# load the file
pymoli = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
pymoli_df = pd.read_csv(pymoli).dropna()
pymoli_df.head().style.hide_index()

In [23]:
# Create player demographics dataframe for later use
demographics = pymoli_df[["Gender", "SN", "Age"]].drop_duplicates()

# Create player_count variable for later use
player_count = pymoli_df["SN"].nunique()

total_players_df = pd.DataFrame({"Total Players": [player_count]}).style.hide_index()
total_players_df

In [24]:
#check if there are incomplete rows
pymoli_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [25]:
#Purchasing Analysis (Total)
unique_items = pymoli_df["Item ID"].nunique()
average_price = pymoli_df["Price"].mean()
number_purchases = pymoli_df["Purchase ID"].nunique()
total_revenue = pymoli_df["Price"].sum()


Values = pd.DataFrame({"Number of Unique Items": [unique_items], 
                       "Average Price": [average_price], 
                       "Number of Purchases": [number_purchases], 
                       "Total Revenue": [total_revenue]})

Values["Average Price"] = Values["Average Price"].map('${:,.2f}'.format)
Values["Total Revenue"] = Values["Total Revenue"].map('${:,.2f}'.format)

Values

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [42]:
#DEBUG VALUES ARE SLIGHTLY OFF FROM THE HOMEWORK!!!!!!!
#Gender data frame, gives you purchase count by gender 
gender = pymoli_df["Gender"].value_counts()
gender

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [35]:
#Gender Demographics
percent_male_players = (652 / 780)*100
count_male_players = 652
percent_female_players = (113 / 780)*100
count_female_players = 113
percent_other_players = (15 / 780)*100
count_other_players = 15

#create gender values data frame
gender_values = pd.DataFrame(columns = ["Total Players", "Percentage of Players"], 
                             index = ["Male", "Female", "Other / Non-Disclosed"])

gender_values.loc["Male"] = [count_male_players, percent_male_players]
gender_values.loc["Female"] = [count_female_players, percent_female_players]
gender_values.loc["Other / Non-Disclosed"] = [count_other_players, percent_other_players]


gender_values["Percentage of Players"] = gender_values["Percentage of Players"].map('{:,.2f}%'.format)

gender_values

                      Total Players Percentage of Players
Male                            652                83.59%
Female                          113                14.49%
Other / Non-Disclosed            15                 1.92%

In [38]:
#Gender data frame, gives you purchase count by gender 
gender = pymoli_df["Gender"].value_counts()
gender

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [40]:
# Purchasing Analysis (Gender)
purchase_count_male = 652
purchase_count_female = 113
purchase_count_other = 15
#NEED TO FIGURE OUT HOW TO DO THE CALCULATIONS!!!!!!!!!!!
avg_price_male = 0
male_total_value = 0
male_avg_total = 0
avg_price_female = 0
female_total_value = 0
female_avg_total = 0
avg_price_other = 0
other_total_value = 0
other_avg_total = 0



purchase_summary = pd.DataFrame(columns = ["Purchase Count", "Avg Purchase Price", 
                                           "Total Purchaase Value", "Avg Total Purchase per Person"], 
                             index = ["Gender", "Male", "Female", "Other / Non-Disclosed"])
#GET RID OF NAN IN GENDER ROW
purchase_summary.loc["Male"] = [purchase_count_male, avg_price_male, male_total_value, male_avg_total]
purchase_summary.loc["Female"] = [purchase_count_female, avg_price_female, female_total_value, female_avg_total]
purchase_summary.loc["Other / Non-Disclosed"] = [purchase_count_other, avg_price_other, 
                                                 other_total_value, other_avg_total]
purchase_summary

,Purchase Count,Avg Purchase Price,Total Purchaase Value,Avg Total Purchase per Person
Gender,NaN,NaN,NaN,NaN
Male,652,0,0,0
Female,113,0,0,0
Other / Non-Disclosed,15,0,0,0